<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vue.js数据添加功能</title>
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
        <script type="text/javascript" src="../public/js/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="../public/js/bootstrap.js"></script>
         <script type="text/javascript" src="../public/js/vue.js"></script>
    </head>
    <body>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="username">用户名：</label>
                <input type="text" v-model="name" class="form-control" id="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="userage">年龄：</label>
                <input type="text" v-model="age" class="form-control" id="userage" placeholder="年龄">
            </div>
            <div class="form-group">
                <label for="userage">成绩：</label>
                <input type="text" v-model="study" class="form-control" id="userage" placeholder="成绩">
            </div>
            <button type="button" class="btn btn-primary" v-on:click="add(name,age,study)">确定添加</button>
            <button type="button" class="btn btn-danger" v-on:click="del()">取消</button>
        </form>
        <table class="table table-bordered table-hover" style="margin-top:20px;">
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>成绩</th>
                <th>操作</th>
            </tr>
            <tr v-for="item in msg">
                <td>{{$index}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.study}}</td>
                <td>
                <button class="btn btn-danger"  data-toggle="modal" v-on:click="newIndex=$index,newstr=onestr" data-target="#myModal">删除</button>
                </td>
            </tr>
            <tr style="text-align:center;" v-show="msg.length==0">
               <td colspan="5"><p>数据为空</p></td>
            </tr>
            <tr style="text-align:center;" v-show="msg.length>0">
               <td colspan="5"><button class="btn btn-danger"  data-toggle="modal" data-target="#myModal" v-on:click="newIndex=-100,newstr=morestr">全部删除</button></td>
            </tr>
        </table>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
              </div>
              <div class="modal-body">
                  <h1>{{newstr}}</h1>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="cut(newIndex)">确定</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    
    </body>
</html>
<script type="text/javascript">
    window.onload=function(){
        new Vue({
            el:".container",
            data:{
                msg:[],
                name:"",
                age:"",
                study:"",
                newIndex:-100,
                onestr:"你确认删除此条数据吗？",
                morestr:"你确认删除全部数据吗？",
                newstr:""
            },
            methods:{
                add:function(name,age,study){
                    this.msg.push({name:name,age:age,study:study})
                },
                del:function(){
                   document.getElementsByTagName("form")[0].reset();
                },
                cut:function(index) {
                    if(index==-100){
                        this.msg=[];
                    }else{
                        this.msg.splice(index,1);
                    }
                    

                }
            }
        })
    }
</script>